:root {
 --primary-font:'Roboto', sans-serif;
 --secondary-font:'Raleway', sans-serif;
 --primary-color:#434455;
 --secondary-color:#2E2F42;
 --button-bgcolor:#F4F4FD;
 --button-bordercolor:#E7E9FC;
 --button-textcolor:#4D5AE5;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    color:var(--primary-color);
    background-color: #FFFFFF;
    color:#434455;
}
.header{
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
}
.header .link{
    font-family:var(--secondary-color);
    color:var(--secondary-color);
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    
   
}
.link:hover{
    cursor: pointer;
}
.navbar ul {
    list-style-type:none;
}
.logo{
    font-family:var(--secondary-font);
    font-weight: 800;
    color:var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
}
.logo:hover{
    cursor: pointer;
}
.logo span{
   color: #4D5AE5;
}
.address ul{
    list-style-type: none;
}
.address  li a {
 color:var(--primary-color);
 text-decoration: none;
 
}
.address  li a:hover{
    cursor: pointer;
}
.main .section-buttons ul{
    list-style-type: none;
}
.section-cards{
    position: absolute;
    align-items: center;
}
.section-cards ul{
    list-style-type: none;
}
.section-cards ul li{
    width: 360px;
    background-color: #ffffff;
    border: 1px solid #E7E9FC;
}
.section-cards ul li h3{
    font-family: var(--primary-font);
    font-weight: 500;
}
.section-cards ul li p{
    font-family:var(--primary-font);
    font-weight: 400;
}
.button{
    background-color: var(--button-bgcolor);
    border:1px solid var(--button-bordercolor);
    color:var(--button-textcolor);
}
.button:hover{
    cursor: pointer;
    color:#ffffff;
    background-color: #404BBF;
}

.footer{
    background-color:var(--secondary-color);
}
.footer p{
    font-family: var(--primary-font);
    font-weight: 400;  
    color:#F4F4FD;
    
}
.logo-footer{
    font-family:var(--secondary-font);
    font-weight: 800;
    color:#F4F4FD;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
}
.logo-footer span{
    color: #4D5AE5;
 }