:root {
 --primary-font:'Roboto', sans-serif;
 --secondary-font:'Raleway', sans-serif;
 --primary-color:#434455;
 --secondary-color:#2E2F42;
 --button-bgcolor:#F4F4FD;
 --button-bordercolor:#E7E9FC;
 --textcolor:#4D5AE5;
 
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color:#434455;
}
.header{
    background-color: #ffffff;
}
.link{
    font-family:var(--secondary-color);
    color:var(--secondary-color);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em; 
}
.link{
    text-decoration: none;
}
.nav-link:hover, .nav-link:focus{
    color:#404bbf
}
.link:hover{
    cursor: pointer;
}
.list {
    list-style:none;
    justify-content: space-between;
}
 .logo{
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    color:var(--textcolor);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
}
.logo:hover{
    cursor: pointer;
}
.span-logo{
   color:var(--secondary-color);
}
.address{
    font-style: normal;
}
.address-link{
    color:var(--primary-color);
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;

}
.address-link:hover{
    color: #404bbf;
    cursor: pointer;
}
.address-link:focus{
    color: #404bbf;
}
.button{
    color: var(--textcolor);
    background-color: var(--button-bgcolor);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover, .button:focus{
    background-color: #404BBF;
    color:#ffffff;
}
.title{
    font-weight: 500;
    font-size: 20px;
    color:var(--secondary-color);
    letter-spacing: 0.02em;
}
.paragraph{
    font-size: 16px;
    letter-spacing: 0.02em;
    color:var(--primary-color);
}
.footer{
    background-color:var(--secondary-color);
}
.footer p{
    font-family: var(--primary-font);
    font-weight: 400;  
    color:#F4F4FD;   
}
.span-logo-footer{
    color:#ffffff;
}
